@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {

  @font-face {
    font-family: "Vazirmatn-Regular";
    src: url("../public/font/Vazirmatn-Regular.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-Medium";
    src: url("../public/font/Vazirmatn-Medium.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-SemiBold";
    src: url("../public/font/Vazirmatn-SemiBold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-Bold";
    src: url("../public/font/Vazirmatn-Bold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-ExtraBold";
    src: url("../public/font/Vazirmatn-ExtraBold.ttf");
  }
}

body {
  font-family: Vazirmatn-Regular, Helvetica, sans-serif;
}